{% extends 'base.html.twig' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card">
            <h4 class="card-header">Please register</h4>
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
